# Terraform
infra/.terraform/
infra/*.tfstate
infra/*.tfstate.*
infra/.terraform.lock.hcl
infra/*.tfvars
infra/*.tfplan
infra/*.plan

# EKS / kubeconfig
kubeconfig*
*.kubeconfig
.kube/
.eksctl*

# AWS CLI
.aws/
*.pem

# Node / Frontend
**/node_modules/
**/dist/
**/.env

# ArgoCD local files
.argocd/

# Logs
*.log

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/